.image-to-show {
  width: 400px;
  height: 400px;
  position: absolute;
}
.images-wrapper {
  width: 400px;
  height: 400px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.showing {
  opacity: 1;
  z-index: 2;
}
img {
  object-fit: cover;
}
