ul {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
}
.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu {
  display: flex;
}
.menu-title {
  padding: 20px;
  background-color: black;
  color: #886732;
  cursor: pointer;
}
.list-content {
  display: none;
  text-align: center;
}
.active {
  background-color: #886732;
  color: black;
}
.active-list {
  display: block;
}
