.page-body {
  margin: 0;
  font-family: montserrat;
}
.menu {
  font-weight: bold;
  list-style: none;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.menu-item {
  display: inline;
  color: #ff0000;
  padding-left: 50px;
  padding-right: 50px;
  letter-spacing: 2.7px;
}
.item {
  text-decoration: none;
  color: #ff0000;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
}
.image {
  height: auto;
}
.section-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 3.3px;
  width: 700px;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 30px;
  margin-top: 48px;
  display: grid;
  color: #373737;
}
.section-title-text {
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #373737;
  margin-right: 67.5px;
  margin-left: 67.5px;
  margin-bottom: 28px;
  letter-spacing: 2.4px;
}
.button {
  width: 191px;
  height: 51px;
  background: #ff0000;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-style {
  list-style: none;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  letter-spacing: 1.8px;
}

.button-position {
  justify-content: center;
  align-items: center;
  list-style: none;
}
.footer-text {
  text-align: right;
  margin-right: 105px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 79px;
  letter-spacing: 2.4px;
  color: #373737;
}
