body {
  margin: 0;
  height: 100%;
}
.page-body {
  margin: 0;
  height: 100%;
}
.page-nav {
  width: 100%;
  height: 70px;
  background: #313131;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 27px;
  height: 27px;
  margin-left: 13px;
  margin-top: 22px;
  margin-bottom: 21px;
}
.logo-bg {
  height: 70px;
  margin-left: 16px;
  display: inline-flex;
}
.name-logo {
  height: 26px;
  margin-top: 22px;
  color: #ffffff;
  font-size: 22px;
  margin-right: 3px;
  text-align: right;
  margin-left: 27px;
}
.menu {
  font-weight: bold;
  list-style: none;
  width: 722px;
  height: 70px;
  display: flex;
  justify-content: space-around;
}
.menu-item {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.item {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
}
.item:hover {
  color: #14b9d5;
}
.container-search {
  background: #000000;
  width: 68px;
  height: 70px;
}
.search-button-img {
  width: 17px;
  height: 17px;
  margin-left: 26px;
  margin-top: 27px;
}
.container-banner {
  height: 369px;
  width: 100%;
  background: url(../img/header-bg.jpeg) center/cover no-repeat;
  background-attachment: fixed;
}
.static {
  height: 80vh;
}
.news-banner {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
  padding-top: 164px;
}
.news-item-text {
  color: #ffffff;
  font-size: 27px;
  text-align: center;
  padding-bottom: 44px;
}
.container-button {
  list-style: none;
}
.container-item-button {
  display: inline-block;
  width: 170px;
  height: 55px;
  margin-left: 20px;
  border-radius: 5px;
}
.href-item-button {
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 16px 19px;
  display: inline-block;
}
.button-left {
  background: #89ca62;
}
.button-right {
  background: #14b9d5;
}
.posts-popular {
  padding-top: 49px;
  background: #f2f2f2;
}
.posts-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.posts-menu-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  margin-bottom: 52px;
}
.posts-menu-item {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 861px;
}
.title-list-item {
  align-self: center;
  background: #ffffff;
  width: 370px;
  margin-bottom: 31px;
}
.place-name {
  width: 370px;
  height: 61px;
  font-weight: bold;
  font-size: 18px;
  color: #353a3d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-clients {
  width: 100%;
  background: url(../img/parallax-bg.jpeg) center/cover no-repeat;
  background-attachment: fixed;
  display: grid;
  justify-items: center;
}
.clients-img {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 881px;
  height: 63px;
  margin-top: 196px;
  margin-bottom: 191px;
}
.text-banner {
  width: 496px;
  height: 44px;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 106px;
}
.text-banner::after {
  display: block;
  content: "";
  border-bottom: 3px solid #18b4cf;
  width: 60px;
  margin-top: 87px;
  margin-left: auto;
  margin-right: auto;
}
.top-rated {
  width: 100%;
  height: 326px;
  background: none;
  display: grid;
  justify-items: center;
}
.top-rated-banner {
  text-transform: uppercase;
  color: #18b4cf;
  font-size: 27px;
  font-weight: bold;
  line-height: 37px;
  align-self: end;
}
.top-rated-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-self: end;
}
.top-rated-item {
  height: 190px;
}
.rated-img {
  width: 100%;
}
.hot-news {
  height: 1683px;
  background: rgba(0, 0, 0, 0.0001);
  width: 100%;
  display: grid;
  justify-items: center;
}
.hot-news-title {
  text-transform: uppercase;
  color: #18b4cf;
  font-size: 27px;
  font-weight: bold;
  line-height: 37px;
  align-self: center;
}
.hot-news-content {
  background: rgba(0, 0, 0, 0.0001);
  max-width: 1170px;
  display: grid;
  grid-template-rows: 259px 418px 416px 259px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 43px;
  grid-template-areas:
    "hot-news-item1 hot-news-item1 hot-news-item1 hot-news-item2"
    "hot-news-item3 hot-news-item3 hot-news-item4 hot-news-item4"
    "hot-news-item5 hot-news-item5 hot-news-item6 hot-news-item6"
    "hot-news-item7 hot-news-item8 hot-news-item8 hot-news-item8";
}
.hot-news-item {
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.hot-news-img {
  float: left;
  padding: 0px 0px 14px 0px;
}
.hot-news-title-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 11px;
  margin-top: 14px;
}
.hot-news-text {
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  padding-right: 27px;
}
.hot-news-item1 {
  grid-area: hot-news-item1;
}
.hot-news-item2 {
  grid-area: hot-news-item2;
}
.hot-news-item3 {
  grid-area: hot-news-item3;
}
.hot-news-item4 {
  grid-area: hot-news-item4;
}
.hot-news-item5 {
  grid-area: hot-news-item5;
}
.hot-news-item6 {
  grid-area: hot-news-item6;
}
.hot-news-item7 {
  grid-area: hot-news-item7;
}
.hot-news-item8 {
  grid-area: hot-news-item8;
}
.footer {
  width: 100%;
  height: 80px;
  background: #000000;
}
.container-footer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-content: center;
}
.info-footer {
  align-self: center;
}
.info-footer-text {
  font-size: 13px;
  line-height: 13px;
  text-align: right;
  color: #ffffff;
}
.logo-footer {
  position: relative;
}
.footer-img-logo {
  position: absolute;
}
