.animation-page {
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: rgb(173, 173, 10);
  background-color: #000;
  overflow: hidden;
}
.title {
  text-align: center;
  margin-bottom: 100px;
}
.external-element {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 500%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(350px) rotateX(23deg);
}
.external-element:after {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
  pointer-events: none;
}
.content {
  position: absolute;
  top: 100%;
  animation: scroll 30s linear 0s infinite;
}
@keyframes scroll {
  0% {
    top: 100%;
  }
  100% {
    top: -110%;
  }
}
