.page-body {
  margin: 0;
  height: 100%;
}
.wrapper {
  background: url(../img/fon.png) no-repeat;
  background-size: 100%;
  min-height: 768px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.page-nav {
  width: 100%;
  height: 58px;
  padding: 18px 79px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
}
.active-menu-nav {
  display: flex;
  align-items: center;
}
.logo-text {
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;
}
.logo-text:hover {
  color: #01813f;
}
.hover-naw {
  /* margin-top: 17px; */
  margin-right: 25px;
}
.calendar {
  margin-left: auto;
}
.calendar:hover {
  color: #01813f;
}
.mail:hover {
  color: #01813f;
}
.navigator:hover {
  color: #01813f;
}
.greeting {
  margin-right: 79px;
  /* margin-top: 18px; */
  margin-left: 27px;
  text-decoration: none;
}
.border-line {
  /* margin-top: 18px; */
  margin-bottom: 0;
  background-color: #c1c1c1;
  width: 1px;
  height: 19px;
  border: none;
}
.greeting:hover .greeting-text-hover {
  color: #01813f;
}
.greeting-text {
  display: inline;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}
.content {
  width: 444px;
  height: 584px;
  background: #ffffff;
  margin: 54px auto;
}
.registration-menu {
  display: flex;
  padding-top: 21px;
}
.square {
  width: 0;
  height: 0;
  border-left: 18px solid #3cb878;
  border-bottom: 18px solid #3cb878;
}
.Sign-up {
  padding-left: 41px;
  font-size: 20px;
  line-height: 20px;
}
.Log-in {
  padding-left: 216px;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878cc;
}
.Log-in:hover {
  color: #01813f;
}
.button-link {
  position: relative;
  width: 160px;
  margin-top: 15px;
  padding: 0 15px 0 46px;
  border: none;
  line-height: 48px;
  border-radius: 0.2em;
  font-size: 16px;
  color: #fff;
}
.button-link:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 8px;
  left: 12px;
  width: 48px;
  height: 30px;
}
.button-link:focus {
  outline: none;
}
.link-facebook {
  background-color: #305db8;
  background-image: linear-gradient(#305db8, #305db8);
  margin-left: 60px;
}
.link-facebook:before {
  border-right: #364e92 1px solid;
  background: url(../img/f\ 1.png) 6px 6px no-repeat;
  width: 38px;
}
.link-facebook:hover,
.link-facebook:focus {
  background-color: #022263;
  background-image: linear-gradient(#022263, #022263);
}
.link-google {
  background: #df4a32;
}
.link-google:before {
  border-right: #bb3f30 1px solid;
  background: url(../img/G+.png) 6px 6px no-repeat;
}
.link-google:hover,
.link-google:focus {
  background: #ab1f09;
}
.separation {
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  color: #848484;
  padding-top: 20px;
}
.separation span {
  display: inline-block;
  vertical-align: middle;
}
.separation:before,
.separation:after {
  content: "";
  display: inline-block;
  width: 150px;
  height: 1px;
  background-color: #f2f2f2;
}
.form-element {
  width: 324px;
  height: 46px;
  margin-top: 15px;
  margin-left: 60px;
  font-size: 14px;
  color: #bebebe;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
.form-element:hover {
  box-shadow: 0px 3px 8px 0px #00000036;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #434343;
}
.form-element:focus {
  box-shadow: 0px 3px 8px 0px #00000036;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #434343;
  outline: none;
  transition: transform 0.15s ease;
  transform: scale(1.01);
}
.terms-spacing {
  margin-left: 60px;
  margin-top: 12px;
}
.terms-text {
  color: #434343;
}
.terms-link {
  text-decoration: none;
  color: #3cb878cc;
}
.terms-link:hover {
  text-decoration: underline solid #01813f;
  color: #01813f;
}
.create-account-button {
  width: 324px;
  height: 46px;
  margin-left: 60px;
  margin-top: 20px;
  border-radius: 4px;
  background: #3cb878cc;
  border-width: 0px;
}
.text-create-account-button {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.create-account-button:hover {
  background: #01813f;
}
.checkbox:checked,
.checkbox:not(:checked) {
  position: absolute;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  border-radius: 2px;
}
.checkbox:checked + label:after,
.checkbox:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.checkbox:checked + label:after,
.checkbox:not(:checked) + label:after {
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 4px solid #01813f;
  border-bottom: 4px solid #01813f;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.checkbox:not(:checked) + label:after {
  opacity: 0;
}
.checkbox:checked + label:after {
  opacity: 1;
}
