.page-body {
  margin: 0;
  height: 100%;
}
.wrapper {
  margin: 0 auto;
  max-width: 1366px;
  /* height: 768px; */
  background: url(../img/background1.png);
  justify-content: center;
  /* display: grid; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.logo-info {
  width: 1028px;
  height: 61px;
  padding-left: 165px;
  padding-top: 46px;
  /* margin-top: 46px; */
  display: flex;
  justify-content: space-between;
}
.logo {
  /* width: 100%; */
}
.logo-link:hover .hover-logo {
  color: #f26522;
}
.logo-link:hover .logo-img {
  background-image: url(../img/logo2.png);
}
.logo-link {
  text-decoration: none;
}
.logo-img {
  width: 53px;
  height: 47px;
  float: left;
  padding-right: 8px;
  margin-top: 5px;
  background: url(../img/logo3.png);
  background-repeat: no-repeat;
}
.name-milan {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  float: left;
}
.name-holodays {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-top: 35px;
}
.info {
  display: grid;
}
.link-info-mail {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  height: 50%;

  text-decoration: none;
}
.link-info-mail:hover {
  color: #f26522;
}
.link-info-tel:hover {
  color: #f26522;
}
.link-info-tel {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: end;
  height: 50%;
  text-decoration: none;
}
.content {
  /* width: 1030px; */
  /* height: 560px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 78px;
  column-gap: 64px;
  padding-top: 22px;
  padding-left: 165px;
  padding-right: 165px;
}
.content-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 220px;
}
.info-content-block {
  width: 100%;
  height: 55px;
  background-color: #f26522;
  position: absolute;
  bottom: 0;

  opacity: 0;
  transition-duration: 0.2s;
  transition-delay: 0.15s;
}
.content-item:hover .info-content-block {
  opacity: 1;
  visibility: visible;
}
.info-content-start {
  text-align: start;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  padding: 7px 16px;
}
.info-content-price {
  text-align: start;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 16px;
  display: inline-block;
  width: 40%;
}
.info-content-end {
  text-align: end;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  width: 40%;
}

.right-arrow:before {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #ffffff;
  display: inline-block;
  transform: rotate(45deg);
  margin-right: -10px;
  margin-bottom: 6.5px;
}
.right-arrow:after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #ffffff;
  display: inline-block;
  transform: rotate(-45deg);
}
.content-text {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding-top: 20px;
}
.content-item:hover .content-text {
  display: block;
  color: #f26522;
}
.footer {
  padding-top: 48px;
}
.footer-text {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
  padding-top: 49px;
  padding-bottom: 15px;
}
