.container {
  width: 250px;
  padding: 10px;
  background-color: #f1c895;
  border-radius: 10px;
}

.price {
  border-radius: 10px;
  width: 160px;
  height: 40px;
  border: 2px solid blue;
}

.price:focus {
  outline: none;
  border: 2px solid green;
}

.label-price {
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
