body {
  margin: 0;
  height: 100%;
  width: 1480px;
}
.page-body {
  font-family: sans-serif;
}
.header {
  width: 1283px;
  height: 189px;
  margin-top: 61px;
  margin-left: 98px;
  margin-right: 99px;
}
.header-title {
  width: 334px;
  height: 79px;
  margin-top: 0px;
  margin-left: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0px;
}
.header-title-color {
  text-decoration: none;
}
.header-title-color-one {
  color: #000;
}
.header-title-color-two {
  color: aqua;
}
.menu {
  height: 72px;
  width: 1283px;
  left: 0px;
  top: 117px;
  justify-content: center;
}
.menu-list {
  list-style: none;
  background: #35444f;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 162px;
}
.menu-list-item {
  float: left;
}
.menu-list-item-page {
  text-decoration: none;
  display: flex;
  padding: 1em;
  border-left: 1px solid #adc0ce;
  color: #ffffff;
}
.menu-list-item-page:hover {
  background: #1d272e;
}
.container {
  height: 832px;
  right: 99px;
  bottom: 150px;
}
.aside {
  width: 344px;
  height: 407px;
  margin-left: 100px;
  margin-top: 50px;
  border: 1px solid #000000;
  float: left;
  padding: 0;
  justify-content: space-between;
}
.aside-list {
  list-style: none;
  height: 81px;
  left: 1px;
  top: 78px;
}
.aside-list-item {
  font-size: 27px;
  line-height: 27px;
  text-decoration: none;
  display: flex;
  padding: 27px;
  color: #495863;
}
.aside-list:hover {
  background: #dbdbdb;
}
.symbol-description {
  width: 885px;
  height: 529px;
  margin-top: 50px;
  margin-left: 52px;
  display: inline-block;
}
.picture {
  border: 1px solid #000000;
}
.img {
  width: 320px;
  height: 381px;
  margin-left: 297px;
  margin-top: 75px;
  margin-bottom: 73px;
  margin-right: 268px;
}
.text {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.footer {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
}
.footer-list {
  width: 1280px;
  height: 69px;
  list-style: none;
  background: #63696e;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.footer-list-item-page:hover {
  text-decoration: underline;
  color: aqua;
}
.footer-list-item-page {
  text-decoration: none;
  display: flex;
  padding: 1em;
  color: #010101;
  font-size: 28px;
  line-height: 28px;
  align-items: center;
}
.footer-list-item-сopyright {
  margin-left: auto;
  padding-right: 40px;
}
